* {
    margin: 0;
    padding: 0;
}

body {
  display: grid;
  grid-template-columns: 1fr repeat(2, 2fr) 1.5fr;
  height: 100vh;
}

header {
  grid-column: 2 / 5;
  border: 1px solid black;
}

nav {
  border: 1px solid black;
  grid-row: 1 / span 3;
  background-color: royalblue;
  color: white;
  display: grid;
}

section {
  padding: 20px 0 0 15px;
}

article {
  font-size: 14px;
  margin-left: 5px;
  padding: 20px 20px 0 0;
}

footer {
  grid-column: 2 / 5;
  margin: auto;
  text-align:  center;
  width: 200px;
}

.main-content {
    padding-top: 20px;
    padding-left: 15px;
    padding-right: 20px;
    background-color: rgb(233, 238, 255);
    grid-column: 2/ -1;
    display: grid;
    grid-template-columns: 2.5fr 1fr;;
}

.article-sections {
  display: grid;
  margin-top: 10px;
  grid-template-rows: 1fr .1fr 1fr;
}

.header-grid {
  display: grid;
  grid-template-columns: 2fr 1.5fr;
  grid-template-rows: 1fr 2fr;
  align-items: center;
}

.search-bar {
  width: 80%;
  border-radius: 25px;
  height: 20px;
}

.profile-image {
  width: 35px;
  height: auto;
}

.header-welcome {
    display: grid;
    grid-template-columns: .2fr 1fr;
    grid-template-rows: 1fr 2fr;
    align-items: center;
    width: 400px;
}

.header-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 280px;
  margin-left: 100px;
  margin-top: 15px;
}

.header-btn {
  padding: 14px 40px
}

.main-profile-image {
  grid-row: span 2;
}

.project-container {
  display: grid;
  grid-template-columns: repeat( auto-fit, 600px );
/*  grid-template-rows: repeat(3, 290px);
*/
}

.project-box {
    margin: 10px;
    margin-left: 0;
    margin-right: 20px;
    border-radius: 8px;
    box-shadow: rgb(0 0 0 / 15%) 1.95px 1.95px 2.6px;
    background-color: white;
    align-items: start;
    padding: 20px;
    padding-bottom: 15px;
    display: grid;
    grid-template-rows: 1fr 6fr;
}

article > h3 {
  font-size: 19px;
}

.article-section-01 {
  background-color: white;
  border-radius: 8px;
  box-shadow: rgb(0 0 0 / 15%) 1.95px 1.95px 2.6px;
  padding: 10px 15px 20px 15px;
  height: 90%;
  display: grid;
}

.article-section-02 {
  background-color: white;
  border-radius: 8px;
  box-shadow: rgb(0 0 0 / 15%) 1.95px 1.95px 2.6px;
  padding: 10px 15px 20px 15px;
  height: 60%;
  margin-top: 10px;
}
