* {
    margin: 0;
    padding: 0;
}

body {
  display: grid;
  grid-template-columns: 1fr repeat(2, 2fr) 1fr;
}



header {
  grid-column: 2 / 5;
  display: grid;
  border: 1px solid black;
}

nav {
  border: 1px solid black;
  grid-row: 1 / 4;
}

section {
  grid-column: 2 / 4;
  grid-row: 2 / 4;
  /*border: 1px solid black;*/

}

.news {
  grid-column: 4 / 5;
  /*border: 1px solid black;*/

}

.trending {
  grid-column: 4 / 5;
  /*border: 1px solid black;*/
}

.header-grid {
  display: grid;
  grid-template-columns: 2fr 1.5fr;
  grid-template-rows: 1fr 2fr;
  align-items: center;

}

.search-bar {
  width: 80%;
  border-radius: 25px;
  height: 20px;
}

.profile-image {
  width: 46px;
  height: auto;
}

.header-welcome {
    display: grid;
    grid-template-columns: .2fr 1fr;
    grid-template-rows: 1fr 2fr;
    align-items: center;
    width: 400px;
}

.header-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 280px;
  margin-left: 100px;
  margin-top: 15px;
}

.header-btn {
  padding: 14px 40px
}

.main-profile-image {
  grid-row: span 2;
}

footer {
  grid-column: span 5;
}
